<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="http://faviconist.com/icons/0d18f302d334696832ccd1220399ffba/favicon.ico" />
	<title>diver's clien</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="{{data.css}}" rel="stylesheet">
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
			font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		}
		.container-fluid {
			max-width: 1024px;
			margin: 0px auto 0px auto;
		}
		.sidebar-nav {
			padding: 9px 0;
		}
		h5 {
			font-weight: bold;
			border-bottom: 1px solid;
			margin-bottom: 2px;
		}
		.post {
			border-bottom: 1px dotted #ff9900;
			padding: 5px 5px 5px 5px;
		}
		.post_info {
			height: 24px;
		}
		.post_info ul {
			margin: 2px 0 10px 4px;
			list-style-type: disc;
		}
		.post_info ul > li {
			list-style: none;
			display: list-item;
			overflow: hidden;
			white-space: nowrap;
			float:left;
			margin-right: 5px;
		}
		.post_info ul > li.writer {			
			width:82px;text-align:center;
		}
		.post_info ul > li.date  {
			float:right;
		}
		.post_info > span {
			margin-right: 5px;
		}
		.post_title {
		 	margin-left: 60px;
		}
		.post_top {
			border-top-right-radius: 6px 6px;
			-moz-border-radius-topright: 6px 6px;
			border-top-left-radius: 6px 6px;
			-moz-border-radius-topleft: 6px 6px;
		}
		.post_new {
			border-left: 25px solid #FFD062;
		}
		.post_cm.post_cm {
			border-left: 25px solid #78AC10;
		}
		.post_watch {
			border-left: 25px solid #CED8F6;
		}
		.btn_watch {
			float: right;
			display: none;
			margin: 2px 10px 2px 10px;
		}
		footer {
			text-align:center;
		}
		@media (max-width: 480px) {
			.post_title {
				margin-left: 0px;
			}
		}
		@media (max-width: 767px) {
			.nav-list > li {
				float:left;
			}
			.nav-list > li > a {
				border-radius: 6px;
				-moz-border-radius: 6px;
				margin: 0 0 0 0;
				padding: 3px 10px 3px 10px;
			}
			.nav-list > .nav-header {
				display: none;
			}
		}
		ul#ulNotiWords > li {
			float:left;margin-right:5px;
		}
		#myTodaysPark .modal-body {
			overflow:hidden;
		}
		#myTodaysPark ul {
			margin-left: 15px;
		}
		#myTodaysPark li {
			list-style: none;
			overflow: hidden;
			white-space: nowrap;
		}
		#myTodaysPark li > span.writer{
			display:inline-block;width:85px;text-align:center;
		}
		#div_scrollTop {
			display:none;
			position:absolute;
			height:50px;
			width:50px;
			top:20px;
			right:20px;
			z-index:2000;
		}
    </style>
	<link href="http://c4t.so/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
	{{data.test}}
	<div id="div_scrollTop">
		<img width="50px" height="50px" src="/static/img/img_scrollTop.png"/>
	</div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">diver's clien</a>
				<ul class="nav pull-right">
					<li><a href="#" onclick="return false;"><span id="span_sc" data-index="0" class="label" style="color:#999;"></span></a></li>
					<li><a href="#" onclick="return false;" title="socket count"><span id="span_uc" class="label label-important"></span></a></li>
				</ul>
				<div class="nav-collapse">
					<ul class="nav">
					<li class="active"><a href="#" onClick="openCompact();return false;">Compact</a></li>
					<li><a data-toggle="modal" href="#myAbout">About</a></li>
					<li><a data-toggle="modal" href="#myContact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Sidebar</li>
						<li><a href="#" onclick="$('div.post_new').each(function(){removeNewTag(this);});return false;">Clear all</a></li>
						<li><a data-toggle="modal" href="#myNoti">Notifier</a></li>
						<li><a data-toggle="modal" href="#myFeed">Feed</a></li>
						<li><a data-toggle="modal" href="#myTheme">Theme</a></li>
						<li><a data-toggle="modal" href="#myTodaysPark">Today's Park</a></li>
					</ul>
				</div><!--/.well -->
			</div><!--/span-->

			<div class="span9">
				<div class="row-fluid">
					<div class="span12" id="postContainer"></div><!--/span-->
				</div><!--/row-->
			</div><!--/span-->
		</div><!--/row-->

		<hr>

		<footer>
			<p>powered by <a href="http://twitter.github.com/bootstrap" target="_blank">bootstrap</a>, <a href="http://flask.pocoo.org" target="_blank">Flask</a>, <a href="https://github.com/maccman/juggernaut" target="_blank">juggernaut</a> and <a href="http://clien.net" target="_balnk">clien.net</a></p>
		</footer>

	</div> <!-- /container -->

	<script src="http://c4t.so/assets/jquery.min.js"></script>
	<script src="http://c4t.so/assets/jquery.color.min.js"></script>
	<script src="http://c4t.so/assets/prettyDate.min.js"></script>
	<script src="http://c4t.so/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://cm.c4t.so:8080/application.js"></script>
	<script type="text/javascript" src="/static/js/dashboard.js"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32377238-1']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
<div class="modal hide" id="myAbout">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>About Diver's clien BETA</h3>
	</div>
	<div class="modal-body">
		<ul>
			<li><p>오늘의 모공..테스트중입니다..최근 24시간동안 가장많은 조회수를 기록한 글을 보여주며 5분마다 갱신됩니다.</p></li>
			<li><p>소모임 게시판 모니터링을 추가 했습니다. 순위별로 Top 10 개의 모임 게시판에 대한 feed를 설정할 수 있습니다.</p></li>
			<li><p>그담으로 하루동안 가장 많은 조횟수, 댓글을 기록한 글을 대여섯개를 조회할수 있는 기능을 작업할 예정입니다.</p></li>
			<li><p>사실 제가 리프레쉬 누르기 귀찮아 하다가... 주말에 디아 접속이 안되길래 만들었습니다...</p></li>
			<li><p>사용자측에서 refresh 하는 방식이 아닌 제 서버에서 수집한 데이터중 업데이트된 내용만 웹브라우저로 Push 하는 방식이라 클량서버에 무리가 가지 않습니다.</p></li>
			<li><p>현재 iOS 사파리에서는 웹소켓과 관련된 버그가 있어 다른탭 이동후 돌아왔을때 죽는 문제가 있습니다. (돌핀 브라우저에서는 잘 작동)</p></li>
			<li><p>모니터링은 모공만 1 ~ 3 페이지 그 외 각 게시판 1 페이지만 읽고 있습니다.</p></li>
			<li><p>본 사이트는 크롬 최적화로 만듭니다. 악의 축 IE!! </p></li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
<div class="modal hide" id="myContact">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Contact</h3>
	</div>
	<div class="modal-body">
		<p>전할 말씀은</p>
		<ul>
			<li><p> 트위터 <a href="http://twitter.com/_n1ghtc4t" target="_black">@_n1ghtc4t</a></p></li>
			<li><p> 혹은 클량 쪽지 inniskun</p></li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
<div class="modal hide" id="myNoti" style="width:460px;margin-left:-230px;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>제목 알림</h3>
	</div>
	<div class="modal-body">
		<label><h4>단어</h4></label>
		<ul id="ulNotiWords" class="nav notiWords" style="margin:10px 0 70px 20px;">
			<li class="noword"><div class="alert alert-error">등록된 단어가 없습니다.</div></li>
		</ul>
		<div id="divInputAddWord">
		<label><h4>추가</h4></label>
		<form class="well form-inline" id="addNoti" style="margin:10px 0 40px 20px;">
			<input id="inputAddNotiWord" type="text" class="span3" placeholder="Type something…">
			<button class="btn" id="btnAddNotiWord">Add</button>
		</form>
		</div>
		<p><b>※구글 크롬 전용 기능입니다. 상단의 허용(allow) 버튼을 눌러주세요.</b></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a id="btnSaveMyNotice" href="#" class="btn btn-primary" data-dismiss="modal">Save</a>
	</div>
</div>
<div class="modal hide" id="myFeed" style="width:400px;margin-left:-200px;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Select Feed</h3>
	</div>
	<div class="modal-body">
		<label><h4>주요 게시판</h4></label>
		<form class="well" id="frmFeed" style='padding-left:30px;height:90px;margin-bottom:-10px;'>
			<ul class="nav"></ul>
		</form>
	</div>
	<div class="modal-body">
		<label><h4>소모임 게시판</h4></label>
		<form class="well" id="frmFeedCm" style='padding-left:30px;height:110px;'>
			<ul class="nav"></ul>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btnCancel" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary btnSave" data-dismiss="modal">Save</a>
	</div>
</div>
<div class="modal hide" id="myTheme" style="width:400px;margin-left:-200px;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Select Theme</h3>
	</div>
	<div class="modal-body">
		<label><h4>Theme</h4></label>
		<form class="well" id="frmTheme" style='padding-left:30px;'>
			<ul class="nav">
				<li><label class='radio'><input type='radio' name='optionsThemes' value='default' checked>Default</label></li>
				<li><label class='radio'><input type='radio' name='optionsThemes' value='superhero'>Superhero</label></li>
			</ul>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btnCancel" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary btnSave" data-dismiss="modal">Save</a>
	</div>
</div>
<div class="modal hide" id="myTodaysPark">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>오늘의 모공 (테스트중)</h3>
	</div>
	<div class="modal-body">
		<ul>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btnCancel" data-dismiss="modal">Close</a>
	</div>
</div>
</body>
</html>
