<!DOCTYPE html>
<html><head>
  <title>Diver's clien Notifier</title>
  <style>
  body {
    direction: ltr;
  }
  #icon {
    height: 32px;
    width: 32px;
    float: left;
  }
  #title {
    margin-left: 38px;
    font-weight: bold;
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
  }
  #description {
    margin-left: 38px;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
  }
  </style>
</head>
<body>
  <div id="icon"><img src="http://cm.c4t.so/assets/img/noti.png" width="32" height="32"></div>
  <div id="title">Diver's clien Notifier</div>
  <div id="description"><a href=" {{ data.link }}" target="_blank"> {{ data.title }}</a></div>
</body></html>
